# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data (DO NOT COMMIT)
Dataset-m5-forecasting-accuracy/
data/

# Scratch / temp files
Untitled.ipynb
Terminal Saved Output*.txt
