# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# Data (IMPORTANT)
data/raw/
data/external/

# OS
.DS_Store

# Data (Kaggle / M5)
Dataset-m5-forecasting-accuracy/
data/
*.csv
